body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
html {
	background-color: green;
}

canvas {
    background-color: #1f1f1f;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#stats {
    border: 4px solid purple;
    background-color: black;
    color: white;
    font-family: Courier New;
    position: absolute;
    z-index: 10;
    width: 10em;
    bottom: 1%;
    left: 1%;
}

#stats .item_container {
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bars {
    background-color: white;
    height: 0.5em;
    width: 50%;
    display: inline-flex;
    margin-right: 4px;
}